In [2]:
import pandas as pd
import sklearn
import tensorflow as tf

In [6]:
dataset = pd.read_csv("data/dataset_diving_behaviour.tabular", sep="\t")
dataset

,lat,lon,alt,unix,bird,species,year,date_time,max_depth.m,colony2,coverage_ratio,is_dive,is_dive_1m,is_dive_2m,is_dive_4m,is_dive_5m,is_dive_0m
0,56.095451,-6.233089,-23.059999,1340627854,1,tCOGU,t2012,2012-06-25 13:37:34,-2.172046,1,0.5,0,False,False,False,False,False
1,56.095408,-6.233520,-2.983077,1340627954,1,tCOGU,t2012,2012-06-25 13:39:14,-1.152306,1,0.6,0,False,False,False,False,False
2,56.095437,-6.234275,3.470286,1340628054,1,tCOGU,t2012,2012-06-25 13:40:54,-2.172046,1,0.7,0,False,False,False,False,False
3,56.095635,-6.234815,1.902667,1340628154,1,tCOGU,t2012,2012-06-25 13:42:34,-2.172046,1,0.8,0,False,False,False,False,False
4,56.095821,-6.235293,2.824952,1340628254,1,tCOGU,t2012,2012-06-25 13:44:14,-2.172046,1,0.9,0,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263713,57.380016,-1.876185,38.550566,1339500344,108,tCOGU,t2012,2012-06-12 12:25:44,-1.152306,10,NaN,0,False,False,False,False,False
263714,57.380147,-1.876534,32.490545,1339500444,108,tCOGU,t2012,2012-06-12 12:27:24,-1.152306,10,NaN,0,False,False,False,False,False
263715,57.380096,-1.876400,38.292069,1339500544,108,tCOGU,t2012,2012-06-12 12:29:04,1.906914,10,NaN,0,True,False,False,False,True
263716,57.380045,-1.876275,38.851776,1339500644,108,tCOGU,t2012,2012-06-12 12:30:44,-2.172046,10,NaN,0,False,False,False,False,False
263717,57.379283,-1.874156,49.243151,1339500744,108,tCOGU,t2012,2012-06-12 12:32:24,-2.172046,10,NaN,0,False,False,False,False,False

In [54]:
use_data = dataset[["lat", "lon", "alt", "coverage_ratio", "is_dive"]]
use_data = use_data.dropna()
labels = use_data[["is_dive"]]

In [55]:
labels

        is_dive
0             0
1             0
2             0
3             0
4             0
...         ...
263703        0
263704        0
263705        0
263706        0
263707        0

[262648 rows x 1 columns]

In [ ]:
import numpy as np
final_features = list()

window_size = 50
tr_features = ["lat", "lon", "alt", "coverage_ratio"]

for i in range(use_data.shape[0] - window_size):
    norm_features = list()
    win_df = use_data[i:i+window_size]
    for feature in tr_features:
        mean_feature = win_df[feature].mean()
        #print(feature, mean_feature)
        norm_feature = win_df[feature] - mean_feature
        norm_features.extend(norm_feature.tolist())
        #printfinal_features(len(norm_feature.tolist()), len(norm_features), norm_feature.tolist())
        #print()
    #print(norm_features)
    norm_features.extend([int(use_data.iloc[i]["is_dive"])])
    #print(len(norm_features), norm_features[200])
    final_features.append(norm_features)

final_features = np.array(final_features)
print(final_features.shape)

5252

In [ ]:
features = use_data.drop(["is_dive"], axis=1)
features

In [ ]:
model = tf.keras.Sequential()norm_features
model.add(tf.keras.layers.Dense(64, input_shape=(4,)))
model.add(tf.keras.layers.Dense(64, activation='relu'))
#model.add(tf.keras.layers.Dense(64, activation='relu'))
model.add(tf.keras.layers.Dense(1, activation='softmax'))
model.compile(optimizer='adam', loss='binary_crossentropy')
model.fit(features, labels, batch_size=256, epochs=5, validation_split=0.2)